{% extends "base.html" %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <h2> Registeration </h2>

    <form method=post action="" autocomplete='off'>
          <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}
            {{ form.csrf_token }}
          </dl>
      <p><input type=submit class='btn btn-success'>
    </form>

{% endblock %}
